
.yellow{
    color: var(--yellow)
}
.bg-yellow{
background-color: var(--yellow)
}

.black{
    color: var(--black)
}
.bg-black{
background-color: var(--black)
}

.white{
    color: var(--white)
}
.bg-white{
background-color: var(--white)
}

.gray{
    color: var(--gray)
}
.bg-gray{
background-color: var(--gray)
}

.shadow{
    color: var(--shadow)
}
.bg-shadow{
background-color: var(--shadow)
}
