

/* form */
.form-group,
.form-group-inline {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;    
}

.form-group-inline {
    flex-direction: row;
}


.form-group input,
.form-group select,
.form-group textarea{
    padding: 8px;
    width: 100%;
    border-radius: 8px;
}


.form-group button{
    background-color: var(--black);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}
.form-group button:hover{
    background-color: var(--yellow);
}