.navbar {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--shadow);
    position: sticky;
    top: 0
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

/*.nav-links li {
        margin-right: 20px; 
    }*/

.nav-links a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    padding: 5px 15px;
    transition: 0.3s ease;
}
.nav-links a:hover {
    /* background-color: var(--yellow);
        border-radius: 5px;*/
    color: var(--yellow);
    border-bottom: solid 2px var(--yellow);
    transition: 0.3s ease;
}


