:root {
    --yellow: #fcc82b;
    --black: #000000;
    --white: #ffffff;
    --gray:#999;
    --shadow: rgba(0, 0, 0, 0.267);
    --font-size: 14pt;
    --font-primary: "Nunito", sans-serif;
    --font-secondary: "Roboto", sans-serif;
}

/* Boosdtrap */




/*Reset: limpa stilo dos navegadores*/
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}

/* Itens comuns no site*/
/* .container{
    margin: auto;
    width: 100%;
    min-width: 360px;
    max-width: 1280px;
} */

.bold{
    font-weight: 600;
}

.bolder{
   font-weight: 900; 
}
a {
    text-decoration: none;
    color: var(--black);
}
/* configuração de estilos para todo o site no corpo(body) */
body {
    font-family: var(--font-size);
    font-family: var(--font-primary);
    margin-top: 65px;
    background-image: url(../imagem/bglogin.jpg);
    /* background-repeat: no-repeat; */
    background-position: bottom center;
    background-color: contain;
}