:root {
    --yellow: #fcc82b;
    --black: #000000;
    --white: #ffffff;
    --shadow: rgba(0, 0, 0, 0.5);
    --font-size: 14pt;
    --font-primary: "nunito";
    --font-secondary: "roboto";
}
.container{
    margin: auto;
    width: 100%;
    min-width: 360px;
    max-width: 1280px;
}

.bold{
    font-weight: 700;
}

.bolder{
   font-weight: bolder; 
}
