* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

header{
    background-image: url(../imagem/barbershop-background.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    min-height: 400px;
    position: relative;
    /*padding-top: 20px;*/
    }

    .navbar {
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 0 20px;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
        justify-content: flex-start; 
    }
    
    .nav-links li {
        margin-right: 20px; 
    }
    
    .nav-links a {
        text-decoration: none;
        color: white;
        font-size: 2.5rem;
        padding: 10px 15px;
        transition: background-color 0.3s ease;
    }
    
    .nav-links a:hover {
        background-color: red;
        border-radius: 5px;
    }
    
    .logo img {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        border: solid 4px white;
    }
    .navbox {
        background-color: rgb(57, 61, 63);
        opacity: .7;
    }
    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        height: 100%;
        min-height: 400px;
    }
    .header-title,
    header .logo {
        margin: 50px 25px;
    }
    .header-title {
        font-size: 25px;
        max-width: 400px;
    }
    .container {
        margin: auto;
        width: 100%;
        min-width: 360px;
        max-width: 1280px;
    }

    body {
        background-color: #000;
        font-family: Arial, sans-serif;
    }
    
    .contact-section {
        padding: 20px;
    }
    
    .contact-container {
        display: flex;
        justify-content: space-between;
        background-color: #121212;
        border: 1px solid #fff;
        padding: 20px;
        color: white;
    }
    
    .contact-left {
        flex: 1;
        margin-right: 20px;
    }
    
    .contact-left img {
        width: 100%;
        height: auto;
    }
    
    .contact-left h2 {
        font-size: 24px;
        margin-top: 10px;
    }
    
    .contact-left p {
        font-size: 14px;
        margin-top: 10px;
    }
    
    .contact-right {
        flex: 1;
    }
    
    .contact-right form {
        display: flex;
        flex-direction: column;
    }
    
    .contact-right input, 
    .contact-right select, 
    .contact-right textarea {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    
    .contact-right textarea {
        height: 100px;
    }
    
    .contact-right button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
    
    .contact-right button:hover {
        background-color: #0056b3;
    }
    .img {
        background-image: url(https://maps.app.goo.gl/x1hiymr2N7bDyK1GA);
    }
    