.navbar {
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: var(--shadow);
    /* display: flex;
    align-items: flex-start;
    padding: 20px;
    flex-direction: row;
    justify-content: space-around; */
    /* background-color: var(--black); */
    /* position: sticky;
    top: 0 */
}
/* 
.nav-link {
    list-style: none;
    display: flex;
    justify-content: flex-start;
} */

/*.nav-links li {
        margin-right: 20px; 
    }*/

.navbar .nav-link {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    padding: 5px 15px;
    transition: 0.3s ease;
    border-bottom: solid 4px transparent;
}
.navbar .nav-link:hover, 
.navbar .nav-link:active {
    /* background-color: var(--yellow);
        border-radius: 5px;*/
    color: var(--yellow);
    border-bottom: solid 4px var(--yellow);
    transition: 0.3s ease;
}


